{% extends 'base.html' %} {% block body %}
<header class="u-clearfix u-header u-header" id="sec-c676">
	<div class="jumbotron text-center">
		<h3>Cucumber BDD/ Step Generator</h3> </div>
</header>
<section class="u-align-center u-clearfix u-section-2" id="carousel_bfba">
	<div class="u-clearfix u-sheet u-sheet-1">
		<div class="u-tab-links-align-justify u-tabs u-tabs-1">
			<ul class="u-spacing-30 u-tab-list u-unstyled" role="tablist">
				<li class="u-tab-item" role="presentation"> <a class="active u-active-palette-2-base u-button-style u-tab-link u-tab-link-1" id="link-tab-java" href="#tab-java" role="tab" aria-controls="tab-java" aria-selected="true">Java</a> </li>
				<li class="u-tab-item" role="presentation"> <a class="u-active-palette-2-base u-button-style u-tab-link u-tab-link-2" id="link-tab-javaScript" href="#tab-javaScript" role="tab" aria-controls="tab-javaScript" aria-selected="false">JavaScript</a> </li>
				<li class="u-tab-item" role="presentation"> <a class="u-active-palette-2-base u-button-style u-tab-link u-tab-link-3" id="link-tab-python" href="#tab-python" role="tab" aria-controls="tab-python" aria-selected="false">Python</a> </li>
				<li class="u-tab-item" role="presentation"> <a class="u-active-palette-2-base u-button-style u-tab-link u-tab-link-4" id="link-tab-test-complete" href="#tab-test-complete" role="tab" aria-controls="tab-test-complete" aria-selected="false">TestComplete</a> </li>
			</ul>
			<!---------------------------------------------------------------------------------------------------------------------------------->
			<!-------------------------------------------------Working for JAVA----------------------------------------------------------------->
			<!---------------------------------------------------------------------------------------------------------------------------------->
			<div class="u-tab-content">
				<div class="u-container-style u-tab-active u-tab-pane" id="tab-java" role="tabpanel" aria-labelledby="link-tab-081f">
					<div class="container">
						<form action="" method="POST">
							<div class="row">
								<div class="col-xl">
									<p><b>GHERKINS STEPS</b>
										<button>Reset <i class="fa fa-refresh"></i></button>
										<a href="/reset" type="button" class="btn btn-secondary btn-sm"></a>
										<script async src="{{ url_for('static', filename='js/resetTextArea.js') }}"></script>
										</button>
										Put class reference here <input value=" "  name="classReferenceJava" id="classReferenceJava" placeholder="Class reference here.." style="border:solid 2px darkred;"></input>
										<label class="form-label" for="classReferenceJava"></label>
									</p>
									<div class="form-outline" max-width="600px">
										<textarea value="" class="form-control" name="featureSteps" id="featureSteps" rows="5" cols="135" placeholder="Put your steps here.." style="border:solid 2px darkred";> </textarea>
										<label class="form-label" for="featureSteps"></label>
									</div>
								</div>
								<div class="col-xl">
									<p><b>STEP DEFINITION/ PARSER</b>
										<button type="button" onclick="copyStepDefinition()">Copy <i class="fa fa-copy"></i></button>
									</p>
									<div class="form-outline">
										<textarea value="" class="form-control" name="stepDefinition" id="stepDefinition" rows="7" cols="135" style="border:solid 2px darkred;"></textarea>
										<label class="form-label" for="stepDefinition"></label>
									</div>
								</div>
								<div class="col-xl">
									<p><b>CORE COMPONENTS </b>
										<button type="button" onclick="copyCoreComponent()">Copy <i class="fa fa-copy"></i></button>
									</p>
									<div class="form-outline">
										<textarea value="" class="form-control" name="coreComponent" id="coreComponent" rows="7" cols="135" style="border:solid 2px darkred;"></textarea>
										<label class="form-label" for="coreComponent"></label>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			<!---------------------------------------------------------------------------------------------------------------------------------->
			<!-------------------------------------------------Working for JAVA SCRIPT---------------------------------------------------------->
			<!---------------------------------------------------------------------------------------------------------------------------------->
				<div class="u-container-style u-tab-pane" id="tab-javaScript" role="tabpanel" aria-labelledby="link-tab-javaScript">
					<div class="u-container-layout u-container-layout-2">
						<div class="container">
						<form action="" method="POST">
							<div class="row">
								<div class="col-xl">
									<p><b>GHERKINS STEPS</b>
										<button>Reset <i class="fa fa-refresh"></i></button>
										<a href="/resetJS" type="button" class="btn btn-secondary btn-sm"></a>
										<script async src="{{ url_for('static', filename='js/resetTextAreaJavaScript.js') }}"></script>
										</button>
										Put class reference here <input value=" "  name="classReferenceJava" id="classReferenceJavaScript" placeholder="Class reference here.." style="border:solid 2px dodgerblue;"></input>
										<label class="form-label" for="classReferenceJava"></label>
									</p>
									<div class="form-outline" max-width="600px">
										<textarea value="" class="form-control" class="form-control" name="featureSteps" id="featureStepsJS" rows="5" cols="135" placeholder="Put your steps here.." style="border:solid 2px dodgerblue;"> </textarea>
										<label class="form-label" for="featureSteps"></label>
									</div>
								</div>
								<div class="col-xl">
									<p><b>STEP DEFINITION/ PARSER</b>
										<button type="button" onclick="copyStepDefinitionJS()">Copy <i class="fa fa-copy"></i></button>
									</p>
									<div class="form-outline">
										<textarea value="" class="form-control" name="stepDefinition" id="stepDefinitionJS" rows="7" cols="135" style="border:solid 2px dodgerblue;"></textarea>
										<label class="form-label" for="stepDefinition"></label>
									</div>
								</div>
								<div class="col-xl">
									<p><b>CORE COMPONENTS </b>
										<button type="button" onclick="copyCoreComponentJS()">Copy <i class="fa fa-copy"></i></button>
									</p>
									<div class="form-outline">
										<textarea value="" class="form-control" name="coreComponent" id="coreComponentJS" rows="7" cols="135" style="border:solid 2px dodgerblue;"></textarea>
										<label class="form-label" for="coreComponent"></label>
									</div>
								</div>
							</div>
						</form>
					</div>
					</div>
				</div>
			<!---------------------------------------------------------------------------------------------------------------------------------->
			<!-------------------------------------------------Working for PYTHON---------------------------------------------------------->
			<!---------------------------------------------------------------------------------------------------------------------------------->
				<div class="u-container-style u-tab-pane" id="tab-python" role="tabpanel" aria-labelledby="link-tab-python">
					<div class="u-container-layout u-container-layout-2">
						<div class="container">
						<form action="" method="POST">
							<div class="row">
								<div class="col-xl">
									<p><b>GHERKINS STEPS</b>
										<button>Reset <i class="fa fa-refresh"></i></button>
										<a href="/resetPy" type="button" class="btn btn-secondary btn-sm"></a>
										<script async src="{{ url_for('static', filename='js/resetTextAreaJavaPython.js') }}"></script>
										</button>
										Put class reference here <input value=" "  name="classReferencePython" id="classReferencePython" placeholder="Class reference here.." style="border:solid 2px green;"></input>
										<label class="form-label" for="classReferencePython"></label>
									</p>
									<div class="form-outline" max-width="600px">
										<textarea value="" class="form-control" class="form-control" name="featureSteps" id="featureStepsPy" rows="5" cols="135" placeholder="Put your steps here.." style="border:solid 2px green;"> </textarea>
										<label class="form-label" for="featureSteps"></label>
									</div>
								</div>
								<div class="col-xl">
									<p><b>STEP DEFINITION/ PARSER</b>
										<button type="button" onclick="copyStepDefinitionPy()">Copy <i class="fa fa-copy"></i></button>
									</p>
									<div class="form-outline">
										<textarea value="" class="form-control" name="stepDefinition" id="stepDefinitionPy" rows="7" cols="135" style="border:solid 2px green;"></textarea>
										<label class="form-label" for="stepDefinition"></label>
									</div>
								</div>
								<div class="col-xl">
									<p><b>CORE COMPONENTS </b>
										<button type="button" onclick="copyCoreComponentPy()">Copy <i class="fa fa-copy"></i></button>
									</p>
									<div class="form-outline">
										<textarea value="" class="form-control" name="coreComponent" id="coreComponentPy" rows="7" cols="135" style="border:solid 2px green;"></textarea>
										<label class="form-label" for="coreComponent"></label>
									</div>
								</div>
							</div>
						</form>
					</div>
					</div>
				</div>

		</div>
	</div>
	</div>
	<script async src="{{ url_for('static', filename='js/java/generator.js') }}"></script>
<!--	<script async src="{{ url_for('static', filename='js/JS/generatorJS.js') }}"></script>-->
	<script async src="{{ url_for('static', filename='js/JS/generatorJS2.js') }}"></script>
	<script async src="{{ url_for('static', filename='js/python/generatorPy.js') }}"></script>

	<!--<script async src="{{ url_for('static', filename='js/javaScript/generator.js') }}"></script>-->
	<script>
	function copyStepDefinition() {
		let textarea = document.getElementById("stepDefinition");
		textarea.select();
		document.execCommand("copy");
	}

	function copyCoreComponent() {
		let textarea = document.getElementById("coreComponent");
		textarea.select();
		document.execCommand("copy");
	}

	function copyStepDefinitionJS() {
		let textarea = document.getElementById("stepDefinitionJS");
		textarea.select();
		document.execCommand("copy");
	}

	function copyCoreComponentJS() {
		let textarea = document.getElementById("coreComponentJS");
		textarea.select();
		document.execCommand("copy");
	}

		function copyStepDefinitionPy() {
		let textarea = document.getElementById("stepDefinitionPy");
		textarea.select();
		document.execCommand("copy");
	}

	function copyCoreComponentPy() {
		let textarea = document.getElementById("coreComponentPy");
		textarea.select();
		document.execCommand("copy");
	}

	</script>
</section> {% endblock body %}